<div ng-controller="homeController as vm" class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<dl>
				<dt class='cap' ng-controller="loginController as lg">
					{{lg.status.username}}
				</dt>
				<br>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
			</dl>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-6">
			<div ng-repeat="post in vm.posts">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{post.username}}
						</h3>
					</div>
					<div class="panel-body">
						{{post.content}}
					</div>
					<div class="panel-footer righttext">
						{{post.dateCreated | date: 'short'}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<address>
				<strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
		</div>
	</div>
</div>